.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 10%;
  max-height: 50px;
  background-color: black;
  color: white;
  font-size: 1.3vw;
  z-index: 5;
}

@media all and (max-width: 992px) {
  .footer {
    position: fixed;
    bottom: 0;
  }
}

.footer .languages {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer .languages .languages-options {
  position: absolute;
  bottom: 58px;
  display: flex;
  flex-direction: column;
  width: clamp(100px, 12vw, 200px);
  padding: 0.5vw;
  border-radius: 10px;
  background-color: black;
  pointer-events: none;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: all 0.3s linear;
}

.footer .languages .languages-options.show {
  pointer-events: auto;
  opacity: 1;
  transform: scaleY(1);
}

.footer .languages .languages-options .language-option {
  display: flex;
  align-items: center;
  gap: 0.5vw;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5vw;
}

.footer .languages .languages-options .language-option .flag {
  width: clamp(15px, 2.5vw, 40px);
  cursor: pointer;
  display: flex;
  align-items: center;
  pointer-events: none;
}

.footer .languages .languages-options .language-option .flag img {
  width: 100%;
  object-fit: contain;
}

.footer .languages .languages-options .language-option p {
  font-size: clamp(10px, 1.3vw, 20px);
  pointer-events: none;
}

.footer .languages .languages-options .language-option:hover {
  background-color: var(--secondary-color);
  color: black;
  font-weight: bold;
}

.footer .languages .globe {
  width: 20%;
  max-width: 35px;
  cursor: pointer;
}

.footer .languages .globe:hover {
  transform: scale(1.1);
}

.footer .text {
  text-align: center;
  flex: 1;
}

.footer .protect-data {
  text-align: center;
  flex: 1;
}

@media (max-width: 1023px) {
  .footer .languages .languages-options {
    width: clamp(100px, 50vw, 400px);
    padding: 2vw;
    gap: 1vw;
  }

  .footer .languages .languages-options .language-option {
    gap: 4vw;
  }

  .footer .languages .languages-options .language-option .flag {
    width: clamp(15px, 10vw, 400px);
    flex-shrink: 0;
  }

  .footer .languages .languages-options .language-option p {
    font-size: clamp(10px, 4.5vw, 200px);
  }

  .footer .text,
  .footer .protect-data {
    display: none;
  }
}
