.triangle{
  position: absolute;
  width: 100%;
  height: 100%;
  transition: width 3s ease, height 3s ease;
}

.triangle--bg{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transition: opacity 3s ease;
}

.triangle__madrid{
  top: 0;
  right: 0;
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

.triangle__madrid--bg{
  background-color: var(--secundary-color);
}

.triangle__madrid--min .triangle--bg{
  opacity: 0.6;
}

.triangle__madrid--min{
  width: 15%;
  height: 25%;
}

.triangle__madrid--return{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top:0;
  padding: 2rem;
  transform: scale(0);
  transition: transform 0.2s ease ;
}

.triangle__madrid--min .triangle__madrid--return{
  transform: scale(1);
  transition: transform 2s ease 1s;

}

.triangle__madrid--return img{
  width: 50%;
  height: 50%;
  object-fit: cover;
}

.triangle__andorra{
  bottom: 0;
  left:0;
  clip-path: polygon(0% 0%,0% 0%, 100% 100%, 0% 100%);
  transition: clip-path 3s ease, width 3s ease, height 3s ease;
}

.triangle__andorra--vertical {
  width: 10%;
  height: 100%;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.triangle__andorra--bg{
  background-color: var(--primary-color);
}

.triangle__andorra--vertical .triangle--bg{
  opacity: 0.6;
}

.triangle__andorra--vertical--text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 3.5rem;
  text-align: center;
  word-break: break-word;
  text-transform: uppercase;
  font-size: 4rem;
  transition: transform 0.5s ease ;
}

.triangle__andorra--vertical .triangle__andorra--vertical--text{
  transform: translate(-50%, -50%) scale(1);
  transition: transform 2s ease 1s;
}

.triangle__details{
  position: absolute;
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
  opacity: 1;
  transition: opacity 2.5s ease 0.5s;
}

.triangle__andorra--vertical .triangle__details,
.triangle__madrid--min .triangle__details{
  opacity: 0;
  transition: opacity 2s ease;
}

.triangle__details h2{
  font-size: 7rem;
}

.triangle__details p{
  padding: 2rem;
  color: rgb(247, 237, 237);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.61);
}

.triangle__details p span {
  font-weight: bold;
}

.triangle__madrid__details{
  top: 0;
  right: 0;
}

.triangle__andorra__details{
  bottom: 0;
  left: 0;
}



.triangle__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}