.triangle__container__madrid {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  filter: drop-shadow(0 0.5rem 0.5rem var(--secondary-color));
  transition: width 1s ease, height 1s ease;
}

.triangle {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

.triangle--bg {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0.2;
  transition: opacity 3s ease;
}

.triangle__madrid {
  top: 0;
  right: 0;
  clip-path: polygon(0% 0%, 100% 100%, 100% 0%);
}

.triangle__madrid--bg {
  background-color: var(--secondary-color);
}

.triangle__madrid--min .triangle--bg {
  opacity: 0.6;
}

.triangle__madrid--min {
  width: 15%;
  height: 25%;
}

.triangle__madrid--return {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 15%;
  transform: scale(0);
  visibility: hidden;
  transition: transform 0.2s ease, visibility 0.5s ease;
}

.triangle__madrid--min .triangle__madrid--return {
  transform: scale(1);
  visibility: visible;
  transition: transform 0.5s ease 1s;
}

.triangle__madrid--return .arrow {
  width: 50%;
  height: 50%;
  object-fit: contain;
  transform: none;
  transition: transform 0.3s ease;
}

.triangle__madrid--return--hover .arrow {
  transform: scale(1.1) rotate(-45deg);
}

.triangle__container__andorra {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  filter: drop-shadow(1rem 0.5rem 0.5rem var(--primary-color));
  transition: width 1s ease, height 1s ease;
  pointer-events: none;
}

.triangle__andorra {
  bottom: 0;
  left: 0;
  clip-path: polygon(0% 0%, 0% 0%, 100% 100%, 0% 100%);
  transition: clip-path 1s ease;
}

.triangle__andorra--min {
  width: 10%;
  height: 100%;
}

.triangle__andorra--vertical {
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.triangle__andorra--bg {
  background-color: var(--primary-color);
}

.triangle__andorra--vertical .triangle--bg {
  opacity: 0.4;
}

.triangle__andorra--vertical--div {
  position: absolute;
  top: 0;
  height: 100%;
  display: none;
  width: 3rem;
}

.triangle__andorra--vertical .triangle__andorra--vertical--div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  animation: appear-vertical 1s ease forwards;
}

@keyframes appear-vertical {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.triangle__andorra--vertical .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: var(--primary-color);
  box-shadow: 0px -1px 11px 6px rgba(149, 193, 173, 0.83);
  -webkit-box-shadow: 0px -1px 11px 6px rgba(149, 193, 173, 0.83);
  -moz-box-shadow: 0px -1px 11px 6px rgba(149, 193, 173, 0.83);
}

.triangle__andorra--vertical .logo img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.triangle__andorra--vertical .triangle__andorra--vertical--div p {
  text-align: center;
  word-break: break-word;
  text-transform: uppercase;
  font-size: 3.5rem;
  text-shadow: 1px -1px 5px rgba(149, 193, 173, 0.6);
}

.triangle__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: none;
  transition: transform 0.5s ease;
}

.triangle__madrid--hover .triangle__img {
  transform: scale(1.1);
}

/* ---------------- Cards Landing -------------- */

/* --------------- prueba madrid ----------------------------*/
.cards_item {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  display: flex;
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  opacity: 1;
}

.triangle__madrid--min .cards_item#item__madrid {
  opacity: 0;
  visibility: hidden;
}

/*.cards_item:hover {*/
/*  transform: rotateY(20deg) rotateX(5deg);*/
/*}*/

#item__madrid {
  justify-content: flex-end;
}

.card__template{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: margin-top 0.2s, width 0.2s, border 0.2s;
}

.card__template:hover{
  margin-top: -10px;
  width: calc(100% - 10px);
  box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -webkit-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(0,0,0,1);
}

.card__template--sup{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem;
  height: 65%;
  background-color: rgb(0, 0, 0, 0.5);
  padding: 1rem;
  padding-right: 5rem;
}

.card__template--sup p{
  color: #cbcbcb;
  text-align: justify;
  opacity: 0;
  visibility: hidden;
  transform: scale(0);
  transition: opacity 0.8s, visibility 0.8s, transform 0.5s;
}

.card__template:hover p{
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.card__template--inf{
  height: 35%;
  background-color: white;
  border: solid 2px black;
  border-top: none;
  padding: 2rem;

}

.card__template--inf h2{
  margin-bottom: 1rem;
}

.card__template:hover .card__template--inf h2{
  color: var(--fourth-color);
}

.card__template--button{
  position: absolute;
  bottom: 2px;
  right: 0;
  width: 10%;
  height: 0%;
  text-decoration: none;
  color: black;
  background-color: white;
  border: solid 1px black;
  border-right: none;
  border-bottom: none;
  visibility: hidden;
  opacity: 0;
  transition: height 0.2s, opacity 0.2s, visibility 0.2s;
}

.card__template:hover .card__template--button{
  height: 80%;
  visibility: visible;
  opacity: 1;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.card__template .card__template--button p{
  opacity: 0;
}

.card__template:hover .card__template--button p{
  text-align: center;
  word-break: break-word;
  opacity: 1;
  transition: opacity 0.1s 0.2s;
}

/* ------------------ prueba andorra ---------------------------*/

.card_bis_container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 3rem;
  opacity: 1;
  transition: 0.5s visibility, 0.5s opacity;
}

.triangle__andorra--vertical .card_bis_container#item__andorra {
  visibility: hidden;
  opacity: 0;
}

.card_bis {
  position: relative;
}

.card_bis .face {
  width: 550px;
  height: 200px;
  transition: 0.5s;
}

.card_bis .face.face1 {
  position: relative;
  background: #3333339f;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card_bis:hover .face.face1 {
  background: var(--primary-color);
  transform: translateY(0);
}

.card_bis .face.face1 .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 70%;
  height: 100%;
  opacity: 0.8;
  transition: 0.5s;
}

.card_bis:hover .face.face1 .content {
  opacity: 1;
}

.card_bis .face.face1 .content img {
  max-width: 200px;
}

.card_bis .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  text-align: center;
  font-size: 1.5em;
}

.card_bis .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
  opacity: 0;
}

.card_bis:hover .face.face2 {
  transform: translateY(0);
  opacity: 1;
}

.card_bis .face.face2 .content p {
  text-align: justify;
  margin: 0;
  padding: 0;
}

.card_bis .face.face2 .content #button__card__andorra {
  margin: 15px 0 0;
  display: inline-block;
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
  cursor: pointer;
}

.card_bis .face.face2 .content #button__card__andorra:hover {
  background: #333;
  color: #fff;
}
